In [10]:
import pandas as pd
import glob
import numpy as nm
import seaborn as sa
from matplotlib import pyplot as plt
from matplotlib.pyplot import GridSpec as grd

In [11]:
#Reading the dataset
#def load_group(filename,index_col=[0])
def load_group(filename):
    filename=my_working_path + filename
    print(filename)
    return pd.read_csv(filename)
    #return pd.read_csv(filename,compression="gzip")
    #return pd.read_csv(filename,compression="gzip",index_col=index_col)

In [12]:
#print the working folder
#pwd  not working

In [13]:
my_working_path = "D:/Mallikarjun/UPXAcademylearning/Jupyter/RedCard-EDA/"
#C:/Mallikarjun/Copied/UPXAcademy/DataScience/EDA/RedCard-EDA/"

In [14]:
#dataframe=load_group("redcard.csv.gz")
dataframe=load_group("CrowdstormingDataJuly1st.csv")

D:/Mallikarjun/UPXAcademylearning/Jupyter/RedCard-EDA/CrowdstormingDataJuly1st.csv

In [15]:
dataframe.shape
#(146028, 28)

(146028, 28)

In [16]:
dataframe.head()

,playerShort,player,club,leagueCountry,birthday,height,weight,position,games,victories,...,rater2,refNum,refCountry,Alpha_3,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
0,lucas-wilchez,Lucas Wilchez,Real Zaragoza,Spain,31.08.1983,177.0,72.0,Attacking Midfielder,1,0,...,0.50,1,1,GRC,0.326391,712.0,0.000564,0.396000,750.0,0.002696
1,john-utaka,John Utaka,Montpellier HSC,France,08.01.1982,179.0,82.0,Right Winger,1,0,...,0.75,2,2,ZMB,0.203375,40.0,0.010875,-0.204082,49.0,0.061504
2,abdon-prats,Abdón Prats,RCD Mallorca,Spain,17.12.1992,181.0,79.0,NaN,1,0,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
3,pablo-mari,Pablo Marí,RCD Mallorca,Spain,31.08.1993,191.0,87.0,Center Back,1,1,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
4,ruben-pena,Rubén Peña,Real Valladolid,Spain,18.07.1991,172.0,70.0,Right Midfielder,1,1,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002

In [17]:
#use pandas .describe to Generate descriptive statistics that summarize 
#the central tendency, dispersion and shape of a dataset’s distribution, excluding NaN values.
dataframe.describe()

,height,weight,games,victories,ties,defeats,goals,yellowCards,yellowReds,redCards,rater1,rater2,refNum,refCountry,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
count,145765.000000,143785.000000,146028.000000,146028.000000,146028.000000,146028.000000,146028.000000,146028.000000,146028.000000,146028.000000,124621.000000,124621.000000,146028.000000,146028.000000,145865.000000,1.458650e+05,1.458650e+05,145865.000000,1.458650e+05,145865.000000
mean,181.935938,76.075662,2.921166,1.278344,0.708241,0.934581,0.338058,0.385364,0.011381,0.012559,0.264255,0.302862,1534.827444,29.642842,0.346276,1.969741e+04,6.310849e-04,0.452026,2.044023e+04,0.002994
std,6.738726,7.140906,3.413633,1.790725,1.116793,1.383059,0.906481,0.795333,0.107931,0.112889,0.295382,0.293020,918.736625,27.496189,0.032246,1.271262e+05,4.735857e-03,0.217469,1.306157e+05,0.019723
min,161.000000,54.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,-0.047254,2.000000e+00,2.235373e-07,-1.375000,2.000000e+00,0.000001
25%,177.000000,71.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,641.000000,7.000000,0.334684,1.785000e+03,5.454025e-05,0.336101,1.897000e+03,0.000225
50%,182.000000,76.000000,2.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.250000,1604.000000,21.000000,0.336628,2.882000e+03,1.508847e-04,0.356446,3.011000e+03,0.000586
75%,187.000000,81.000000,3.000000,2.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.250000,0.500000,2345.000000,44.000000,0.369894,7.749000e+03,2.294896e-04,0.588297,7.974000e+03,0.001002
max,203.000000,100.000000,47.000000,29.000000,14.000000,18.000000,23.000000,14.000000,3.000000,2.000000,1.000000,1.000000,3147.000000,161.000000,0.573793,1.975803e+06,2.862871e-01,1.800000,2.029548e+06,1.060660

In [18]:
#Transpose index and columns
dataframe.describe().T

,count,mean,std,min,25%,50%,75%,max
height,145765.0,181.935938,6.738726,1.610000e+02,177.000000,182.000000,187.000000,2.030000e+02
weight,143785.0,76.075662,7.140906,5.400000e+01,71.000000,76.000000,81.000000,1.000000e+02
games,146028.0,2.921166,3.413633,1.000000e+00,1.000000,2.000000,3.000000,4.700000e+01
victories,146028.0,1.278344,1.790725,0.000000e+00,0.000000,1.000000,2.000000,2.900000e+01
ties,146028.0,0.708241,1.116793,0.000000e+00,0.000000,0.000000,1.000000,1.400000e+01
defeats,146028.0,0.934581,1.383059,0.000000e+00,0.000000,1.000000,1.000000,1.800000e+01
goals,146028.0,0.338058,0.906481,0.000000e+00,0.000000,0.000000,0.000000,2.300000e+01
yellowCards,146028.0,0.385364,0.795333,0.000000e+00,0.000000,0.000000,1.000000,1.400000e+01
yellowReds,146028.0,0.011381,0.107931,0.000000e+00,0.000000,0.000000,0.000000,3.000000e+00
redCards,146028.0,0.012559,0.112889,0.000000e+00,0.000000,0.000000,0.000000,2.000000e+00
rater1,124621.0,0.264255,0.295382,0.000000e+00,0.000000,0.250000,0.250000,1.000000e+00
rater2,124621.0,0.302862,0.293020,0.000000e+00,0.000000,0.250000,0.500000,1.000000e+00
refNum,146028.0,1534.827444,918.736625,1.000000e+00,641.000000,1604.000000,2345.000000,3.147000e+03
refCountry,146028.0,29.642842,27.496189,1.000000e+00,7.000000,21.000000,44.000000,1.610000e+02
meanIAT,145865.0,0.346276,0.032246,-4.725423e-02,0.334684,0.336628,0.369894,5.737933e-01
nIAT,145865.0,19697.411216,127126.197143,2.000000e+00,1785.000000,2882.000000,7749.000000,1.975803e+06
seIAT,145865.0,0.000631,0.004736,2.235373e-07,0.000055,0.000151,0.000229,2.862871e-01
meanExp,145865.0,0.452026,0.217469,-1.375000e+00,0.336101,0.356446,0.588297,1.800000e+00
nExp,145865.0,20440.233860,130615.745103,2.000000e+00,1897.000000,3011.000000,7974.000000,2.029548e+06
seExp,145865.0,0.002994,0.019723,1.043334e-06,0.000225,0.000586,0.001002,1.060660e+00

In [19]:
dataframe.dtypes

playerShort       object
player            object
club              object
leagueCountry     object
birthday          object
height           float64
weight           float64
position          object
games              int64
victories          int64
ties               int64
defeats            int64
goals              int64
yellowCards        int64
yellowReds         int64
redCards           int64
photoID           object
rater1           float64
rater2           float64
refNum             int64
refCountry         int64
Alpha_3           object
meanIAT          float64
nIAT             float64
seIAT            float64
meanExp          float64
nExp             float64
seExp            float64
dtype: object

In [20]:
all_columns=dataframe.columns.tolist()

In [21]:
all_columns

['playerShort',
 'player',
 'club',
 'leagueCountry',
 'birthday',
 'height',
 'weight',
 'position',
 'games',
 'victories',
 'ties',
 'defeats',
 'goals',
 'yellowCards',
 'yellowReds',
 'redCards',
 'photoID',
 'rater1',
 'rater2',
 'refNum',
 'refCountry',
 'Alpha_3',
 'meanIAT',
 'nIAT',
 'seIAT',
 'meanExp',
 'nExp',
 'seExp']

## Create Tidy Datasets
Based on the below theory, We will now create there tables or dataframes 

Hadley Wickham's concept of a tidy dataset summarized as:
> - Each variable forms a column
> - Each observation forms a row
> - Each type of observational unit forms a table

Dataframes or Tables created as below
- Players
- Clubs
- referees
- countries
- dyads

## Tidy Players Dataframe (Table)

In [22]:
player_index='playerShort' # use the player short as the index column
#we have not taken Player name as we have player ID
#Taken out the column 'refNum'
players_cols=['birthday','height','weight','position','rater1','rater2']

# Try some Pandas functions

In [23]:
group_byplayers=dataframe.groupby('playerShort')
#groups=group_byplayers.groups
#groups.keys.describe()
group_byplayers.height.mean()

playerShort
aaron-hughes              182.0
aaron-hunt                183.0
aaron-lennon              165.0
aaron-ramsey              178.0
abdelhamid-el-kaoutari    180.0
abdon-prats               181.0
abdou-dampha              184.0
abdou-traore_2            180.0
abdoul-camara             177.0
abdoulaye-diallo_2        189.0
abdoulaye-diallo_3        182.0
abdoulaye-keita_2         188.0
abdoulaye-sane            184.0
abdoulwhaid-sissoko       180.0
abdul-rahman-baba         179.0
abdul-razak               180.0
abel-aguilar              185.0
abel-khaled               179.0
abelaziz-barrada          185.0
abou-diaby                188.0
aboulaye-keita            175.0
adam-bodzek               184.0
adam-campbell             168.0
adam-federici             188.0
adam-hlousek              188.0
adam-johnson              175.0
adam-lallana              173.0
adam-le-fondre            180.0
adam-morgan               179.0
adam-pinter               190.0
                          ...
yaya-toure                191.0
yoan-gouffran             175.0
yoann-gourcuff            185.0
yohan-cabaye              175.0
yohan-mollo               175.0
yohandry-orozco           164.0
yohann-poulard            190.0
yohann-thuram-ulien       187.0
yossi-benayoun            178.0
younes-belhanda           174.0
younes-kaboul             190.0
youssef-adnane            178.0
youssef-el-arabi          180.0
youssuf-mulumbu           177.0
yunus-malli               179.0
zakarie-labidi            178.0
zdenk-pospch              174.0
zdravko-kuzmanovic        186.0
ze-castro                 183.0
zhi-gin-lam               175.0
ziri-hammar               179.0
zlatan-alomerovic         187.0
zlatan-ibrahimovic        192.0
zlatko-junuzovic          172.0
zoltan-gera               181.0
zoltan-stieber            175.0
zouheir-dhaouadi          180.0
zoumana-camara            182.0
zubikarai                 185.0
zurutuza                  186.0
Name: height, dtype: float64

In [24]:
dataframe['games'].sum()

426572

In [25]:
aggregations={col:'nunique' for col in players_cols}
aggregations

{'birthday': 'nunique',
 'height': 'nunique',
 'position': 'nunique',
 'rater1': 'nunique',
 'rater2': 'nunique',
 'weight': 'nunique'}

In [26]:
#group_byplayers=dataframe.groupby('playerShort')
# This groups by the players and gives you varios
#group_byplayers.loc[group_byplayers['playerShort']=='aaron-hughes'].head()
#df.loc[df['column_name'] == some_value]

In [27]:
#group_byplayers=dataframe.groupby('playerShort').agg({col:'nunique' for col in players_cols})
aggregations={col:'nunique' for col in players_cols}
group_byplayers=dataframe.groupby('playerShort').agg(aggregations) # Player name is the index
#group_byplayers=group_byplayers.drop(['games'],axis=1) # Note axis- 1 referes to column and not row
group_byplayers.head(10)

                        birthday  height  weight  position  rater1  rater2
playerShort
aaron-hughes                   1       1       1         1       1       1
aaron-hunt                     1       1       1         1       1       1
aaron-lennon                   1       1       1         1       1       1
aaron-ramsey                   1       1       1         1       1       1
abdelhamid-el-kaoutari         1       1       1         1       1       1
abdon-prats                    1       1       1         0       0       0
abdou-dampha                   1       1       1         1       0       0
abdou-traore_2                 1       1       1         1       1       1
abdoul-camara                  1       1       1         1       0       0
abdoulaye-diallo_2             1       1       1         1       1       1

In [28]:
#note the [group_byplayers>1] will fetch all values in the frame that are greator than 1. if you give 100 
#then it will fetch all values greator than 100 as shown below
#group_byplayers[group_byplayers>100]

# use cases of how 
# the how='all' basicallly tell to drop those rows where all the columns are having null values
# df.dropna() drop rows where at least one column is having a null value (same how='any')
# df.dropna(thresh=5) drop rows where at least 5 column are having a null values
# df.fillna(0) Fill in missing data with zeros
# Fill in missing in preTestScore with the mean value of preTestScore.inplace=True means that the changes are saved to the df right away
#df["preTestScore"].fillna(df["preTestScore"].mean(), inplace=True)

group_byplayers[group_byplayers>1].dropna(how="all").shape[0] # this gives count>0 because of refnum column which is not an aggregate

0

In [29]:
#I will drop the column ref num from the dataframe and do the aggregations

In [30]:
# I have removed refNum from the Player dataset, check In[29]
#Newgroup_byplayers=group_byplayers.drop("refNum",axis=1)
#To Drop an observation (row) =group_byplayers.drop("aaron-hughes","aaron-hunt")
group_byplayers[group_byplayers>1].dropna(how="all").shape[0]

0

In [31]:
#This function will group by indexcol and get the count of unique values in each of the column given in reqcolumns
# Refer the examples http://localhost:8888/notebooks/IPython%20Basics/Group%20by%20with%20nunique.ipynb 
#to understand this example
def get_subdataframes(datafr,indexcol,reqcolumns):
    Qltycheckdataframe=datafr.groupby(indexcol).agg({col:"nunique" for col in reqcolumns})
   
    #Qltycheckdataframe=Qltycheckdataframe.drop("refNum",axis=1)
                               
    #Qltycheckdataframe=Qltycheckdataframe.drop("games",axis=1)
    
    
    shapeval= Qltycheckdataframe[Qltycheckdataframe>1].dropna(how="all").shape[0]
    
    print (shapeval)
    if shapeval!=0:
        print("Warning !, The dataframe that you are using is not unique")
    return datafr.groupby(indexcol).agg({col:"max" for col in reqcolumns})

In [32]:
players=get_subdataframes(dataframe,player_index,players_cols)
players.head()

0

,birthday,height,weight,position,rater1,rater2
playerShort,,,,,,
aaron-hughes,08.11.1979,182.0,71.0,Center Back,0.25,0.00
aaron-hunt,04.09.1986,183.0,73.0,Attacking Midfielder,0.00,0.25
aaron-lennon,16.04.1987,165.0,63.0,Right Midfielder,0.25,0.25
aaron-ramsey,26.12.1990,178.0,76.0,Center Midfielder,0.00,0.00
abdelhamid-el-kaoutari,17.03.1990,180.0,73.0,Center Back,0.25,0.25

In [33]:
def save_subgroup(dataframe,index,subgroupname,prefix="raw"):
    save_group_file="_".join([prefix,subgroupname,".csv_gz"])
    print("File name {0}",save_group_file)
    dataframe.to_csv(save_group_file,compression="gzip",encoding="UTF-8")
    test_df=pd.read_csv(save_group_file,compression="gzip",index_col=index,encoding="UTF-8")
    if dataframe.equals(test_df):
        print("Test passed -data is the same as you save")
    else:
        print("Warning -- equivalence test!!! Double-check.")

In [34]:
save_subgroup(players, player_index, "players")

File name {0} raw_players_.csv_gz
Test passed -data is the same as you save

# Create a Tidy Clubs dataset

In [35]:
club_index="club"
club_cols=['leagueCountry']
clubs=get_subdataframes(dataframe,club_index,club_cols)
# How many entries are there for each leagueCountry?
clubs['leagueCountry'].value_counts()

0

England    48
Spain      27
France     22
Germany    21
Name: leagueCountry, dtype: int64

In [36]:
#the GroupBy object .groups variable is a dictionary whose keys are the computed unique groups and 
#corresponding values being the axis labels belonging to each group
#dataframe.groupby("club")['leagueCountry'].count()

In [37]:
save_subgroup(clubs,club_index,'clubs')

File name {0} raw_clubs_.csv_gz
Test passed -data is the same as you save

# Create a Tidy Refrees dataset

In [38]:
refree_index="refNum"
refree_cols=["refCountry"]
refree=get_subdataframes(dataframe,refree_index,refree_cols)

#count of unique value
refree['refCountry'].nunique()

0

161

In [39]:
# unique value
refree['refCountry'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161], dtype=int64)

In [40]:
# unique value
refree['refCountry'].tail()

refNum
3143    51
3144    55
3145    21
3146    51
3147    21
Name: refCountry, dtype: int64

In [41]:
# shape (rows and columns)
refree.shape

(3147, 1)

In [42]:
save_subgroup(refree,refree_index,'refree')

File name {0} raw_refree_.csv_gz
Test passed -data is the same as you save

# Create a tidy country dataset

In [43]:
countries_index="refCountry"
countries_cols=["Alpha_3","meanIAT","nIAT","seIAT","meanExp","nExp","seExp"]
countries=get_subdataframes(dataframe,countries_index,countries_cols)

0

In [44]:
countries.head()

           Alpha_3   meanIAT    nIAT     seIAT   meanExp    nExp     seExp
refCountry
1              GRC  0.326391   712.0  0.000564  0.396000   750.0  0.002696
2              ZMB  0.203375    40.0  0.010875 -0.204082    49.0  0.061504
3              ESP  0.369894  1785.0  0.000229  0.588297  1897.0  0.001002
4              LUX  0.325185   127.0  0.003297  0.538462   130.0  0.013752
5              TUN  0.167132    19.0  0.027327 -0.789474    19.0  0.111757

In [45]:
rename_columns={'Alpha_3':'Countries_name'}
countries=countries.rename(columns=rename_columns)
countries.head()

,Countries_name,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
refCountry,,,,,,,
1,GRC,0.326391,712.0,0.000564,0.396000,750.0,0.002696
2,ZMB,0.203375,40.0,0.010875,-0.204082,49.0,0.061504
3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
5,TUN,0.167132,19.0,0.027327,-0.789474,19.0,0.111757

In [46]:
save_subgroup(countries,countries_index,'countries')

File name {0} raw_countries_.csv_gz
Warning -- equivalence test!!! Double-check.

### Since save_subgroup has indicated that equivalence test is not correct. Let us find which values are not comparing

In [47]:
# Use this function to search for any files which match your filename
filename="raw_countries_.csv_gz"

files_present = glob.glob(filename)
if (files_present):
    print ("file " + filename + " is found")
    test_df=pd.read_csv(filename,compression="gzip",index_col="refCountry")
else:
    print ("file " + filename + " not found")

file raw_countries_.csv_gz is found

In [48]:
test_df.head()

,Countries_name,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
refCountry,,,,,,,
1,GRC,0.326391,712.0,0.000564,0.396000,750.0,0.002696
2,ZMB,0.203375,40.0,0.010875,-0.204082,49.0,0.061504
3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
5,TUN,0.167132,19.0,0.027327,-0.789474,19.0,0.111757

In [49]:
countries.head()

,Countries_name,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
refCountry,,,,,,,
1,GRC,0.326391,712.0,0.000564,0.396000,750.0,0.002696
2,ZMB,0.203375,40.0,0.010875,-0.204082,49.0,0.061504
3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
5,TUN,0.167132,19.0,0.027327,-0.789474,19.0,0.111757

In [50]:
ne = (test_df != countries)

In [51]:
# find the columns that are not the same
ne = (test_df != countries).any(1)

In [52]:
ne

refCountry
1      False
2      False
3       True
4       True
5       True
6      False
7       True
8      False
9      False
10      True
11      True
12     False
13     False
14     False
15     False
16      True
17     False
18     False
19      True
20     False
21      True
22     False
23     False
24     False
25      True
26     False
27      True
28     False
29     False
30     False
       ...
132     True
133    False
134     True
135    False
136    False
137    False
138     True
139     True
140    False
141     True
142    False
143    False
144    False
145     True
146    False
147    False
148     True
149    False
150     True
151     True
152     True
153     True
154     True
155     True
156    False
157    False
158    False
159    False
160     True
161    False
dtype: bool

In [53]:
#get a dataset of the rows that are not matching 
ne_stacked=(test_df != countries).stack().any()

In [54]:

changed=ne_stacked[ne_stacked]

In [55]:
changed.index.names=['refCountry','Col']

AttributeError: 'numpy.ndarray' object has no attribute 'index'

In [56]:
changed

array([ True])

### comparing two datasets

In [57]:
for (_,row1),(_,row2) in zip(test_df.iterrows(),countries.iterrows()):
    if not row1.equals(row2):
        print(row1)
        print()
        print(row2)
        print()
    #print ("row1 %1, row2 %2",row1 ,row2 )
    #print ("row1 %1",row1)

Countries_name           ESP
meanIAT             0.369894
nIAT                    1785
seIAT             0.00022949
meanExp             0.588297
nExp                    1897
seExp             0.00100165
Name: 3, dtype: object

Countries_name           ESP
meanIAT             0.369894
nIAT                    1785
seIAT             0.00022949
meanExp             0.588297
nExp                    1897
seExp             0.00100165
Name: 3, dtype: object

Countries_name           LUX
meanIAT             0.325185
nIAT                     127
seIAT             0.00329681
meanExp             0.538462
nExp                     130
seExp              0.0137522
Name: 4, dtype: object

Countries_name           LUX
meanIAT             0.325185
nIAT                     127
seIAT             0.00329681
meanExp             0.538462
nExp                     130
seExp              0.0137522
Name: 4, dtype: object

Countries_name          TUN
meanIAT            0.167132
nIAT                     19
seIAT             0.0273267
meanExp           -0.789474
nExp                     19
seExp              0.111757
Name: 5, dtype: object

Countries_name          TUN
meanIAT            0.167132
nIAT                     19
seIAT             0.0273267
meanExp           -0.789474
nExp                     19
seExp              0.111757
Name: 5, dtype: object

Countries_name            FRA
meanIAT              0.334684
nIAT                     2882
seIAT             0.000150885
meanExp              0.336101
nExp                     3011
seExp             0.000585966
Name: 7, dtype: object

Countries_name            FRA
meanIAT              0.334684
nIAT                     2882
seIAT             0.000150885
meanExp              0.336101
nExp                     3011
seExp             0.000585966
Name: 7, dtype: object

Countries_name          SEN
meanIAT            0.229733
nIAT                     35
seIAT             0.0124829
meanExp           -0.487805
nExp                     41
seExp             0.0304253
Name: 10, dtype: object

Countries_name          SEN
meanIAT            0.229733
nIAT                     35
seIAT             0.0124829
meanExp           -0.487805
nExp                     41
seExp             0.0304253
Name: 10, dtype: object

Countries_name            ZAF
meanIAT              0.372072
nIAT                     2795
seIAT             0.000162572
meanExp              0.627717
nExp                     2944
seExp             0.000929887
Name: 11, dtype: object

Countries_name            ZAF
meanIAT              0.372072
nIAT                     2795
seIAT             0.000162572
meanExp              0.627717
nExp                     2944
seExp             0.000929887
Name: 11, dtype: object

Countries_name            USA
meanIAT              0.327249
nIAT               1.9758e+06
seIAT             2.23537e-07
meanExp              0.459471
nExp              2.02955e+06
seExp             1.04333e-06
Name: 19, dtype: object

Countries_name            USA
meanIAT              0.327249
nIAT               1.9758e+06
seIAT             2.23537e-07
meanExp              0.459471
nExp              2.02955e+06
seExp             1.04333e-06
Name: 19, dtype: object

Countries_name            HUN
meanIAT              0.376127
nIAT                      574
seIAT             0.000714319
meanExp               0.49835
nExp                      606
seExp              0.00296825
Name: 21, dtype: object

Countries_name            HUN
meanIAT              0.376127
nIAT                      574
seIAT             0.000714319
meanExp               0.49835
nExp                      606
seExp              0.00296825
Name: 21, dtype: object

Countries_name           VEN
meanIAT             0.395414
nIAT                     303
seIAT             0.00135093
meanExp             0.935185
nExp                     324
seExp             0.00728123
Name: 25, dtype: object

Countries_name           VEN
meanIAT             0.395414
nIAT                     303
seIAT             0.00135093
meanExp             0.935185
nExp                     324
seExp             0.00728123
Name: 25, dtype: object

Countries_name            ROU
meanIAT              0.385082
nIAT                      537
seIAT             0.000755687
meanExp              0.859431
nExp                      562
seExp              0.00361996
Name: 27, dtype: object

Countries_name            ROU
meanIAT              0.385082
nIAT                      537
seIAT             0.000755687
meanExp              0.859431
nExp                      562
seExp              0.00361996
Name: 27, dtype: object

Countries_name            BRA
meanIAT              0.368946
nIAT                     2411
seIAT             0.000173381
meanExp              0.637172
nExp                     2475
seExp              0.00091342
Name: 31, dtype: object

Countries_name            BRA
meanIAT              0.368946
nIAT                     2411
seIAT             0.000173381
meanExp              0.637172
nExp                     2475
seExp              0.00091342
Name: 31, dtype: object

Countries_name            CHE
meanIAT              0.345305
nIAT                     1886
seIAT             0.000219256
meanExp              0.377193
nExp                     1938
seExp             0.000822971
Name: 32, dtype: object

Countries_name            CHE
meanIAT              0.345305
nIAT                     1886
seIAT             0.000219256
meanExp              0.377193
nExp                     1938
seExp             0.000822971
Name: 32, dtype: object

Countries_name            THA
meanIAT              0.352264
nIAT                      632
seIAT             0.000683038
meanExp              0.590062
nExp                      644
seExp              0.00280738
Name: 33, dtype: object

Countries_name            THA
meanIAT              0.352264
nIAT                      632
seIAT             0.000683038
meanExp              0.590062
nExp                      644
seExp              0.00280738
Name: 33, dtype: object

Countries_name            MYS
meanIAT               0.39375
nIAT                      862
seIAT             0.000484558
meanExp              0.599356
nExp                      931
seExp              0.00180476
Name: 35, dtype: object

Countries_name            MYS
meanIAT               0.39375
nIAT                      862
seIAT             0.000484558
meanExp              0.599356
nExp                      931
seExp              0.00180476
Name: 35, dtype: object

Countries_name           LBN
meanIAT             0.337957
nIAT                     189
seIAT              0.0023575
meanExp             0.340102
nExp                     197
seExp             0.00941465
Name: 36, dtype: object

Countries_name           LBN
meanIAT             0.337957
nIAT                     189
seIAT              0.0023575
meanExp             0.340102
nExp                     197
seExp             0.00941465
Name: 36, dtype: object

Countries_name           IRN
meanIAT               0.3633
nIAT                     116
seIAT             0.00361458
meanExp             0.755906
nExp                     127
seExp              0.0210609
Name: 39, dtype: object

Countries_name           IRN
meanIAT               0.3633
nIAT                     116
seIAT             0.00361458
meanExp             0.755906
nExp                     127
seExp              0.0210609
Name: 39, dtype: object

Countries_name           KAZ
meanIAT              0.33098
nIAT                      72
seIAT             0.00510153
meanExp             0.240506
nExp                      79
seExp              0.0382558
Name: 42, dtype: object

Countries_name           KAZ
meanIAT              0.33098
nIAT                      72
seIAT             0.00510153
meanExp             0.240506
nExp                      79
seExp              0.0382558
Name: 42, dtype: object

Countries_name           HTI
meanIAT             0.133951
nIAT                     128
seIAT             0.00380369
meanExp             -1.12414
nExp                     145
seExp               0.019283
Name: 43, dtype: object

Countries_name           HTI
meanIAT             0.133951
nIAT                     128
seIAT             0.00380369
meanExp             -1.12414
nExp                     145
seExp               0.019283
Name: 43, dtype: object

Countries_name           ENGL
meanIAT               0.32669
nIAT                    44791
seIAT             9.63867e-06
meanExp              0.356446
nExp                    46916
seExp             3.68802e-05
Name: 44, dtype: object

Countries_name           ENGL
meanIAT               0.32669
nIAT                    44791
seIAT             9.63867e-06
meanExp              0.356446
nExp                    46916
seExp             3.68802e-05
Name: 44, dtype: object

Countries_name           SCOT
meanIAT               0.32669
nIAT                    44791
seIAT             9.63867e-06
meanExp              0.356446
nExp                    46916
seExp             3.68802e-05
Name: 45, dtype: object

Countries_name           SCOT
meanIAT               0.32669
nIAT                    44791
seIAT             9.63867e-06
meanExp              0.356446
nExp                    46916
seExp             3.68802e-05
Name: 45, dtype: object

Countries_name            ALB
meanIAT              0.301278
nIAT                      794
seIAT             0.000580144
meanExp              0.349584
nExp                      841
seExp              0.00319091
Name: 46, dtype: object

Countries_name            ALB
meanIAT              0.301278
nIAT                      794
seIAT             0.000580144
meanExp              0.349584
nExp                      841
seExp              0.00319091
Name: 46, dtype: object

Countries_name          BLR
meanIAT            0.295086
nIAT                    163
seIAT             0.0030579
meanExp            0.488235
nExp                    170
seExp              0.015924
Name: 54, dtype: object

Countries_name          BLR
meanIAT            0.295086
nIAT                    163
seIAT             0.0030579
meanExp            0.488235
nExp                    170
seExp              0.015924
Name: 54, dtype: object

Countries_name            AUT
meanIAT              0.337539
nIAT                     1319
seIAT             0.000331326
meanExp              0.394139
nExp                     1365
seExp              0.00171672
Name: 57, dtype: object

Countries_name            AUT
meanIAT              0.337539
nIAT                     1319
seIAT             0.000331326
meanExp              0.394139
nExp                     1365
seExp              0.00171672
Name: 57, dtype: object

Countries_name           ECU
meanIAT             0.355254
nIAT                     238
seIAT             0.00174101
meanExp             0.706897
nExp                     232
seExp             0.00960089
Name: 60, dtype: object

Countries_name           ECU
meanIAT             0.355254
nIAT                     238
seIAT             0.00174101
meanExp             0.706897
nExp                     232
seExp             0.00960089
Name: 60, dtype: object

Countries_name           KWT
meanIAT             0.264517
nIAT                     189
seIAT             0.00209876
meanExp            0.0932642
nExp                     193
seExp             0.00972453
Name: 63, dtype: object

Countries_name           KWT
meanIAT             0.264517
nIAT                     189
seIAT             0.00209876
meanExp            0.0932642
nExp                     193
seExp             0.00972453
Name: 63, dtype: object

Countries_name           AZE
meanIAT             0.284753
nIAT                     339
seIAT             0.00153465
meanExp             0.139394
nExp                     330
seExp              0.0117465
Name: 68, dtype: object

Countries_name           AZE
meanIAT             0.284753
nIAT                     339
seIAT             0.00153465
meanExp             0.139394
nExp                     330
seExp              0.0117465
Name: 68, dtype: object

Countries_name           UKR
meanIAT             0.415672
nIAT                     192
seIAT             0.00214158
meanExp              1.28431
nExp                     204
seExp               0.011491
Name: 70, dtype: object

Countries_name           UKR
meanIAT             0.415672
nIAT                     192
seIAT             0.00214158
meanExp              1.28431
nExp                     204
seExp               0.011491
Name: 70, dtype: object

Countries_name          MWI
meanIAT            0.121943
nIAT                     26
seIAT             0.0139966
meanExp           -0.548387
nExp                     31
seExp             0.0484506
Name: 75, dtype: object

Countries_name          MWI
meanIAT            0.121943
nIAT                     26
seIAT             0.0139966
meanExp           -0.548387
nExp                     31
seExp             0.0484506
Name: 75, dtype: object

Countries_name          SUR
meanIAT            0.331094
nIAT                     29
seIAT             0.0121677
meanExp            -0.37931
nExp                     29
seExp             0.0556123
Name: 79, dtype: object

Countries_name          SUR
meanIAT            0.331094
nIAT                     29
seIAT             0.0121677
meanExp            -0.37931
nExp                     29
seExp             0.0556123
Name: 79, dtype: object

Countries_name           ARM
meanIAT             0.316252
nIAT                     203
seIAT             0.00229912
meanExp             0.202899
nExp                     207
seExp              0.0131289
Name: 81, dtype: object

Countries_name           ARM
meanIAT             0.316252
nIAT                     203
seIAT             0.00229912
meanExp             0.202899
nExp                     207
seExp              0.0131289
Name: 81, dtype: object

Countries_name          LTU
meanIAT            0.452175
nIAT                    193
seIAT             0.0022886
meanExp             1.32338
nExp                    201
seExp             0.0121763
Name: 84, dtype: object

Countries_name          LTU
meanIAT            0.452175
nIAT                    193
seIAT             0.0022886
meanExp             1.32338
nExp                    201
seExp             0.0121763
Name: 84, dtype: object

Countries_name         MRT
meanIAT           0.411648
nIAT                     3
seIAT             0.124068
meanExp                  1
nExp                     3
seExp             0.333333
Name: 85, dtype: object

Countries_name         MRT
meanIAT           0.411648
nIAT                     3
seIAT             0.124068
meanExp                  1
nExp                     3
seExp             0.333333
Name: 85, dtype: object

Countries_name          GMB
meanIAT            0.101397
nIAT                     12
seIAT             0.0362658
meanExp           -0.538462
nExp                     13
seExp              0.139085
Name: 87, dtype: object

Countries_name          GMB
meanIAT            0.101397
nIAT                     12
seIAT             0.0362658
meanExp           -0.538462
nExp                     13
seExp              0.139085
Name: 87, dtype: object

Countries_name          TGO
meanIAT            0.399633
nIAT                     10
seIAT             0.0492168
meanExp                0.25
nExp                     12
seExp              0.275528
Name: 88, dtype: object

Countries_name          TGO
meanIAT            0.399633
nIAT                     10
seIAT             0.0492168
meanExp                0.25
nExp                     12
seExp              0.275528
Name: 88, dtype: object

Countries_name            CHN
meanIAT              0.397898
nIAT                     2522
seIAT             0.000158018
meanExp              0.587881
nExp                     2657
seExp             0.000695798
Name: 89, dtype: object

Countries_name            CHN
meanIAT              0.397898
nIAT                     2522
seIAT             0.000158018
meanExp              0.587881
nExp                     2657
seExp             0.000695798
Name: 89, dtype: object

Countries_name          NCL
meanIAT            0.355533
nIAT                     15
seIAT             0.0359955
meanExp                1.25
nExp                     20
seExp               0.17687
Name: 91, dtype: object

Countries_name          NCL
meanIAT            0.355533
nIAT                     15
seIAT             0.0359955
meanExp                1.25
nExp                     20
seExp               0.17687
Name: 91, dtype: object

Countries_name           COD
meanIAT             0.255196
nIAT                      44
seIAT             0.00879829
meanExp            -0.454545
nExp                      44
seExp              0.0471294
Name: 92, dtype: object

Countries_name           COD
meanIAT             0.255196
nIAT                      44
seIAT             0.00879829
meanExp            -0.454545
nExp                      44
seExp              0.0471294
Name: 92, dtype: object

Countries_name          WALES
meanIAT               0.32669
nIAT                    44791
seIAT             9.63867e-06
meanExp              0.356446
nExp                    46916
seExp             3.68802e-05
Name: 93, dtype: object

Countries_name          WALES
meanIAT               0.32669
nIAT                    44791
seIAT             9.63867e-06
meanExp              0.356446
nExp                    46916
seExp             3.68802e-05
Name: 93, dtype: object

Countries_name           TZA
meanIAT             0.191317
nIAT                      96
seIAT             0.00419823
meanExp            -0.634615
nExp                     104
seExp              0.0156288
Name: 96, dtype: object

Countries_name           TZA
meanIAT             0.191317
nIAT                      96
seIAT             0.00419823
meanExp            -0.634615
nExp                     104
seExp              0.0156288
Name: 96, dtype: object

Countries_name           BEN
meanIAT             0.255357
nIAT                     238
seIAT             0.00229887
meanExp             0.196581
nExp                     234
seExp              0.0145877
Name: 99, dtype: object

Countries_name           BEN
meanIAT             0.255357
nIAT                     238
seIAT             0.00229887
meanExp             0.196581
nExp                     234
seExp              0.0145877
Name: 99, dtype: object

Countries_name            JAM
meanIAT              0.109661
nIAT                      517
seIAT             0.000881346
meanExp              -1.07635
nExp                      537
seExp              0.00408705
Name: 100, dtype: object

Countries_name            JAM
meanIAT              0.109661
nIAT                      517
seIAT             0.000881346
meanExp              -1.07635
nExp                      537
seExp              0.00408705
Name: 100, dtype: object

Countries_name            CAN
meanIAT              0.349169
nIAT                    61289
seIAT             6.88577e-06
meanExp              0.457385
nExp                    63111
seExp             2.82403e-05
Name: 103, dtype: object

Countries_name            CAN
meanIAT              0.349169
nIAT                    61289
seIAT             6.88577e-06
meanExp              0.457385
nExp                    63111
seExp             2.82403e-05
Name: 103, dtype: object

Countries_name          LSO
meanIAT             0.20801
nIAT                      8
seIAT             0.0537901
meanExp                 1.8
nExp                     10
seExp              0.329309
Name: 104, dtype: object

Countries_name          LSO
meanIAT             0.20801
nIAT                      8
seIAT             0.0537901
meanExp                 1.8
nExp                     10
seExp              0.329309
Name: 104, dtype: object

Countries_name            GEO
meanIAT              0.193501
nIAT                      652
seIAT             0.000750755
meanExp             -0.405956
nExp                      638
seExp              0.00419082
Name: 105, dtype: object

Countries_name            GEO
meanIAT              0.193501

## Create a seperate dataset for Dyads

In [58]:
dyads_index=["refNum","playerShort"]
dyads_columns=["position",
"games",    
"victories",
"ties",
"defeats",
"goals",
"yellowCards",
"yellowReds",
"redCards"]

In [61]:

dyads=get_subdataframes(dataframe,dyads_index,dyads_columns)
dyads.head(10)

0

In [69]:
# check if any of the columns are having 1 unique values. In which case the value(count) will be  >0
#dyads.head(10)
dyads[dyads>1]

                                          position  games  victories  ties  \
refNum playerShort
1      lucas-wilchez          Attacking Midfielder    NaN        NaN   NaN
2      john-utaka                     Right Winger    NaN        NaN   NaN
3      abdon-prats                             NaN    NaN        NaN   NaN
       pablo-mari                      Center Back    NaN        NaN   NaN
       ruben-pena                 Right Midfielder    NaN        NaN   NaN
4      aaron-hughes                    Center Back    NaN        NaN   NaN
       aleksandar-kolarov            Left Fullback    NaN        NaN   NaN
       alexander-tettey       Defensive Midfielder    NaN        NaN   NaN
       anders-lindegaard                Goalkeeper    NaN        NaN   NaN
       andreas-beck                 Right Fullback    NaN        NaN   NaN
       antonio-rukavina             Right Fullback    2.0        2.0   NaN
       ashkan-dejagah                  Left Winger    NaN        NaN   NaN
       benedikt-hoewedes               Center Back    NaN        NaN   NaN
       chris-baird            Defensive Midfielder    NaN        NaN   NaN
       chris-brunt                             NaN    NaN        NaN   NaN
       daniel-schwaab               Right Fullback    NaN        NaN   NaN
       dennis-aogo                   Left Fullback    NaN        NaN   NaN
       george-mccartney              Left Fullback    NaN        NaN   NaN
       gylfi-sigurdsson       Attacking Midfielder    NaN        NaN   NaN
       ivan-obradovic                Left Fullback    NaN        NaN   NaN
       jan-moravek            Attacking Midfielder    NaN        NaN   NaN
       jan-rosenthal          Attacking Midfielder    NaN        NaN   NaN
       jonny-evans                     Center Back    NaN        NaN   NaN
       kyriakos-papadopoulos           Center Back    NaN        NaN   NaN
       marko-marin            Attacking Midfielder    NaN        NaN   NaN
       mats-hummels                    Center Back    NaN        NaN   NaN
       mesut-oezil            Attacking Midfielder    NaN        NaN   NaN
       milorad-pekovic        Defensive Midfielder    NaN        NaN   NaN
       nemanja-vidic                   Center Back    2.0        2.0   NaN
       neven-subotic                   Center Back    2.0        2.0   NaN
...                                            ...    ...        ...   ...
3147   mohamed-sissoko        Defensive Midfielder    NaN        NaN   NaN
       nani                           Right Winger    NaN        NaN   NaN
       nedum-onuoha                    Center Back    NaN        NaN   NaN
       nelson-valdez                Center Forward    NaN        NaN   NaN
       nemanja-pejcinovic              Center Back    NaN        NaN   NaN
       nikos-karabelas               Left Fullback    NaN        NaN   NaN
       obafemi-martins              Center Forward    NaN        NaN   NaN
       petr-cech                        Goalkeeper    NaN        NaN   NaN
       radoslav-zabavnik             Left Fullback    NaN        NaN   NaN
       rafael-van-der-vaart   Attacking Midfielder    NaN        NaN   NaN
       ricardo-vaz-te                  Left Winger    NaN        NaN   NaN
       richard-dunne                   Center Back    3.0        3.0   NaN
       robin-van-persie               Right Winger    NaN        NaN   NaN
       romelu-lukaku                Center Forward    NaN        NaN   NaN
       sebastian-larsson          Right Midfielder    NaN        NaN   NaN
       sebastian-proedl                Center Back    NaN        NaN   NaN
       shaun-maloney               Left Midfielder    2.0        NaN   NaN
       shaun-wright-phillips          Right Winger    NaN        NaN   NaN
       shay-given                       Goalkeeper    3.0        3.0   NaN
       shola-ameobi                            NaN    NaN        NaN   NaN
       slobodan-rajkovic               Center Back    NaN        NaN   NaN
       steven-taylor                           NaN    NaN        NaN   NaN
       timmy-simons           Defensive Midfielder    NaN        NaN   NaN
       titus-bramble                   Center Back    NaN        NaN   NaN
       tom-huddlestone        Defensive Midfielder    NaN        NaN   NaN
       tomas-rosicky          Attacking Midfielder    NaN        NaN   NaN
       winston-reid                    Center Back    NaN        NaN   NaN
       xherdan-shaqiri             Left Midfielder    NaN        NaN   NaN
       yassine-el-ghanassi             Left Winger    NaN        NaN   NaN
       zdenk-pospch                 Right Fullback    NaN        NaN   NaN

                              defeats  goals  yellowCards  yellowReds  \
refNum playerShort
1      lucas-wilchez              NaN    NaN          NaN         NaN
2      john-utaka                 NaN    NaN          NaN         NaN
3      abdon-prats                NaN    NaN          NaN         NaN
       pablo-mari                 NaN    NaN          NaN         NaN
       ruben-pena                 NaN    NaN          NaN         NaN
4      aaron-hughes               NaN    NaN          NaN         NaN
       aleksandar-kolarov         NaN    NaN          NaN         NaN
       alexander-tettey           NaN    NaN          NaN         NaN
       anders-lindegaard          NaN    NaN          NaN         NaN
       andreas-beck               NaN    NaN          NaN         NaN
       antonio-rukavina           NaN    NaN          NaN         NaN
       ashkan-dejagah             NaN    NaN          NaN         NaN
       benedikt-hoewedes          NaN    NaN          NaN         NaN
       chris-baird                NaN    NaN          NaN         NaN
       chris-brunt                NaN    NaN          NaN         NaN
       daniel-schwaab             NaN    NaN          NaN         NaN
       dennis-aogo                NaN    NaN          NaN         NaN
       george-mccartney           NaN    NaN          NaN         NaN
       gylfi-sigurdsson           NaN    NaN          NaN         NaN
       ivan-obradovic             NaN    NaN          NaN         NaN
       jan-moravek                NaN    NaN          NaN         NaN
       jan-rosenthal              NaN    NaN          NaN         NaN
       jonny-evans                NaN    NaN          NaN         NaN
       kyriakos-papadopoulos      NaN    NaN          NaN         NaN
       marko-marin                NaN    NaN          NaN         NaN
       mats-hummels               NaN    NaN          NaN         NaN
       mesut-oezil                NaN    NaN          NaN         NaN
       milorad-pekovic            NaN    NaN          NaN         NaN
       nemanja-vidic              NaN    NaN          NaN         NaN
       neven-subotic              NaN    NaN          NaN         NaN
...                               ...    ...          ...         ...
3147   mohamed-sissoko            NaN    NaN          NaN         NaN
       nani                       NaN    NaN          NaN         NaN
       nedum-onuoha               NaN    NaN          NaN         NaN
       nelson-valdez              NaN    NaN          NaN         NaN
       nemanja-pejcinovic         NaN    NaN          NaN         NaN
       nikos-karabelas            NaN    NaN          NaN         NaN
       obafemi-martins            NaN    NaN          NaN         NaN
       petr-cech                  NaN    NaN          NaN         NaN
       radoslav-zabavnik          NaN    NaN          NaN         NaN
       rafael-van-der-vaart       NaN    NaN          NaN         NaN
       ricardo-vaz-te             NaN    NaN          NaN         NaN
       richard-dunne              NaN    NaN          NaN         NaN
       robin-van-persie           NaN    2.0          NaN         NaN
       romelu-lukaku              NaN    NaN          NaN         NaN
       sebastian-larsson          NaN    NaN          NaN         NaN
       sebastian-proedl           NaN    NaN          NaN         NaN
       shaun-maloney              NaN    NaN          NaN         NaN
       shaun-wright-phillips      NaN    NaN          NaN         NaN
       shay-given                 NaN    NaN          NaN         NaN
       shola-ameobi               NaN    NaN          NaN         NaN
       slobodan-rajkovic          NaN    NaN          NaN         NaN
       steven-taylor              NaN    NaN          NaN         NaN
       timmy-simons               NaN    NaN          NaN         NaN
       titus-bramble              NaN    NaN          NaN         NaN
       tom-huddlestone            NaN    NaN          NaN         NaN
       tomas-rosicky              NaN    NaN          NaN         NaN
       winston-reid               NaN    NaN          NaN         NaN
       xherdan-shaqiri            NaN    NaN          NaN         NaN
       yassine-el-ghanassi        NaN    NaN          NaN         NaN
       zdenk-pospch               NaN    NaN          NaN         NaN

                              redCards
refNum playerShort
1      lucas-wilchez               NaN
2      john-utaka                  NaN
3      abdon-prats                 NaN
       pablo-mari                  NaN
       ruben-pena                  NaN
4      aaron-hughes                NaN
       aleksandar-kolarov          NaN
       alexander-tettey            NaN
       anders-lindegaard           NaN
       andreas-beck                NaN
       antonio-rukavina            NaN
       ashkan-dejagah              NaN
       benedikt-hoewedes           NaN
       chris-baird                 NaN
       chris-brunt                 NaN
       daniel-schwaab              NaN
       dennis-aogo                 NaN
       george-mccartney            NaN
       gylfi-sigurdsson            NaN
       ivan-obradovic              NaN
       jan-moravek                 NaN
       jan-rosenthal               NaN
       jonny-evans                 NaN
       kyriakos-papadopoulos       NaN
       marko-marin                 NaN
       mats-hummels                NaN
       mesut-oezil                 NaN
       milorad-pekovic             NaN
       nemanja-vidic               NaN
       neven-subotic               NaN
...                                ...
3147   mohamed-sissoko             NaN
       nani                        NaN
       nedum-onuoha                NaN
       nelson-valdez               NaN
       nemanja-pejcinovic          NaN
       nikos-karabelas             NaN
       obafemi-martins             NaN
       petr-cech                   NaN
       radoslav-zabavnik           NaN
       rafael-van-der-vaart        NaN
       ricardo-vaz-te              NaN
       richard-dunne               NaN
       robin-van-persie            NaN
       romelu-lukaku               NaN
       sebastian-larsson           NaN
       sebastian-proedl            NaN
       shaun-maloney               NaN
       shaun-wright-phillips       NaN
       shay-given                  NaN
       shola-ameobi                NaN
       slobodan-rajkovic           NaN
       steven-taylor               NaN
       timmy-simons                NaN
       titus-bramble               NaN
       tom-huddlestone             NaN
       tomas-rosicky               NaN
       winston-reid                NaN
       xherdan-shaqiri             NaN
       yassine-el-ghanassi         NaN
       zdenk-pospch                NaN

[146028 rows x 9 columns]

In [54]:
save_subgroup(dyads,dyads_index,'dyads') # previously named as games

File name {0} raw_dyads_.csv_gz
Test passed -data is the same as you save

In [71]:
redCarddyads=dyads[dyads.redCards>1].head(100)
redCarddyads

                                         position  games  victories  ties  \
refNum playerShort
140    bodipo                      Center Forward      6          2     1
367    antonio-lopez_2              Left Fullback      8          5     2
432    javi-martinez         Defensive Midfielder     14          4     3
       jonas                       Center Forward      9          1     4
487    phil-jagielka                  Center Back      7          2     1
586    cyril-jeunechamp             Left Fullback     14          8     0
804    sergio-ramos                Right Fullback     18         12     1
985    aly-cissokho                 Left Fullback      9          1     5
1114   eugen-polanski        Attacking Midfielder      8          4     0
1214   emmanuel-adebayor           Center Forward     23          9     7
1349   jose-nunes                     Center Back      6          2     2
1574   jesus-rueda                            NaN      6          0     2
1696   marc-planus                    Center Back     19         10     6
1886   de-lucas              Attacking Midfielder     10          3     3
1931   fallou-diagne                  Center Back      3          0     0
2080   laurent-koscielny              Center Back     14          5     2
2246   saber-khelifa               Center Forward      5          1     1
2370   ivo-ilicevic               Left Midfielder      9          3     4
2796   fabien-audard                   Goalkeeper      8          2     3
2803   cristiano-ronaldo              Left Winger     22         15     3
2822   gary-cahill                    Center Back      5          2     1
       lee-cattermole        Defensive Midfielder      4          1     2
2961   cyril-jeunechamp             Left Fullback     11          5     3
       mouhamadou-dabo              Left Fullback      4          3     0
3099   rafael-van-der-vaart  Attacking Midfielder     14          6     2

                             defeats  goals  yellowCards  yellowReds  redCards
refNum playerShort
140    bodipo                      3      1            0           0         2
367    antonio-lopez_2             1      0            2           0         2
432    javi-martinez               7      2            2           0         2
       jonas                       4      1            0           0         2
487    phil-jagielka               4      1            0           0         2
586    cyril-jeunechamp            6      0            6           0         2
804    sergio-ramos                5      4            6           1         2
985    aly-cissokho                3      1            1           0         2
1114   eugen-polanski              4      0            0           0         2
1214   emmanuel-adebayor           7     10            4           1         2
1349   jose-nunes                  2      0            0           0         2
1574   jesus-rueda                 4      0            0           0         2
1696   marc-planus                 3      0            1           0         2
1886   de-lucas                    4      0            1           0         2
1931   fallou-diagne               3      0            0           0         2
2080   laurent-koscielny           7      1            4           0         2
2246   saber-khelifa               3      0            0           0         2
2370   ivo-ilicevic                2      0            1           0         2
2796   fabien-audard               3      0            0           0         2
2803   cristiano-ronaldo           4      9            4           0         2
2822   gary-cahill                 2      0            0           0         2
       lee-cattermole              1      0            1           0         2
2961   cyril-jeunechamp            3      0            3           0         2
       mouhamadou-dabo             1      0            0           0         2
3099   rafael-van-der-vaart        6      3            4           0         2

In [69]:
RedCarddyadsbyPosition=redCarddyads.groupby('position')
RedCarddyadsbyPosition.size()
#RedCarddyadsbyPosition.head(100)

                                         position  games  victories  ties  \
refNum playerShort
140    bodipo                      Center Forward      6          2     1
367    antonio-lopez_2              Left Fullback      8          5     2
432    javi-martinez         Defensive Midfielder     14          4     3
       jonas                       Center Forward      9          1     4
487    phil-jagielka                  Center Back      7          2     1
586    cyril-jeunechamp             Left Fullback     14          8     0
804    sergio-ramos                Right Fullback     18         12     1
985    aly-cissokho                 Left Fullback      9          1     5
1114   eugen-polanski        Attacking Midfielder      8          4     0
1214   emmanuel-adebayor           Center Forward     23          9     7
1349   jose-nunes                     Center Back      6          2     2
1574   jesus-rueda                            NaN      6          0     2
1696   marc-planus                    Center Back     19         10     6
1886   de-lucas              Attacking Midfielder     10          3     3
1931   fallou-diagne                  Center Back      3          0     0
2080   laurent-koscielny              Center Back     14          5     2
2246   saber-khelifa               Center Forward      5          1     1
2370   ivo-ilicevic               Left Midfielder      9          3     4
2796   fabien-audard                   Goalkeeper      8          2     3
2803   cristiano-ronaldo              Left Winger     22         15     3
2822   gary-cahill                    Center Back      5          2     1
       lee-cattermole        Defensive Midfielder      4          1     2
2961   cyril-jeunechamp             Left Fullback     11          5     3
       mouhamadou-dabo              Left Fullback      4          3     0
3099   rafael-van-der-vaart  Attacking Midfielder     14          6     2

                             defeats  goals  yellowCards  yellowReds  redCards
refNum playerShort
140    bodipo                      3      1            0           0         2
367    antonio-lopez_2             1      0            2           0         2
432    javi-martinez               7      2            2           0         2
       jonas                       4      1            0           0         2
487    phil-jagielka               4      1            0           0         2
586    cyril-jeunechamp            6      0            6           0         2
804    sergio-ramos                5      4            6           1         2
985    aly-cissokho                3      1            1           0         2
1114   eugen-polanski              4      0            0           0         2
1214   emmanuel-adebayor           7     10            4           1         2
1349   jose-nunes                  2      0            0           0         2
1574   jesus-rueda                 4      0            0           0         2
1696   marc-planus                 3      0            1           0         2
1886   de-lucas                    4      0            1           0         2
1931   fallou-diagne               3      0            0           0         2
2080   laurent-koscielny           7      1            4           0         2
2246   saber-khelifa               3      0            0           0         2
2370   ivo-ilicevic                2      0            1           0         2
2796   fabien-audard               3      0            0           0         2
2803   cristiano-ronaldo           4      9            4           0         2
2822   gary-cahill                 2      0            0           0         2
       lee-cattermole              1      0            1           0         2
2961   cyril-jeunechamp            3      0            3           0         2
       mouhamadou-dabo             1      0            0           0         2
3099   rafael-van-der-vaart        6      3            4           0         2

In [77]:
#RedCarddyadsbyPosition=redCarddyads.groupby('position')['redCards'].transform(sum)
#RedCarddyadsbyPosition=redCarddyads.groupby('position')['redCards'].transform(sum)==redCardgames['redCards']
RedCarddyadsbyPosition=redCarddyads.groupby('position')['redCards']
RedCarddyadsbyPosition.head(100)
RedCarddyadsbyPosition.apply(lambda x:x.value_counts())
#redCardgames[RedCardGames1].head(1000)

position
Attacking Midfielder  2    3
Center Back           2    6
Center Forward        2    4
Defensive Midfielder  2    2
Goalkeeper            2    1
Left Fullback         2    5
Left Midfielder       2    1
Left Winger           2    1
Right Fullback        2    1
Name: redCards, dtype: int64

In [61]:
maximumRedCarddyads=redCarddyads.groupby('position')['redCards'].transform(max)==redCarddyads['redCards']
#maximumRedCardGames=redCardgames.groupby('position')['games'].transform(max)==redCardgames['games']
#df.groupby('DEPT')['SAL'].transform(lambda x: x.max())

In [1]:
#redCardgames[maximumRedCardGames].head(25)
maximumRedCarddyads.head(10)

NameError: name 'maximumRedCarddyads' is not defined

In [63]:
redCarddyads[maximumRedCarddyads].head(25)

                                         position  games  victories  ties  \
refNum playerShort
140    bodipo                      Center Forward      6          2     1
367    antonio-lopez_2              Left Fullback      8          5     2
432    javi-martinez         Defensive Midfielder     14          4     3
       jonas                       Center Forward      9          1     4
487    phil-jagielka                  Center Back      7          2     1
586    cyril-jeunechamp             Left Fullback     14          8     0
804    sergio-ramos                Right Fullback     18         12     1
985    aly-cissokho                 Left Fullback      9          1     5
1114   eugen-polanski        Attacking Midfielder      8          4     0
1214   emmanuel-adebayor           Center Forward     23          9     7
1349   jose-nunes                     Center Back      6          2     2
1696   marc-planus                    Center Back     19         10     6
1886   de-lucas              Attacking Midfielder     10          3     3
1931   fallou-diagne                  Center Back      3          0     0
2080   laurent-koscielny              Center Back     14          5     2
2246   saber-khelifa               Center Forward      5          1     1
2370   ivo-ilicevic               Left Midfielder      9          3     4
2796   fabien-audard                   Goalkeeper      8          2     3
2803   cristiano-ronaldo              Left Winger     22         15     3
2822   gary-cahill                    Center Back      5          2     1
       lee-cattermole        Defensive Midfielder      4          1     2
2961   cyril-jeunechamp             Left Fullback     11          5     3
       mouhamadou-dabo              Left Fullback      4          3     0
3099   rafael-van-der-vaart  Attacking Midfielder     14          6     2

                             defeats  goals  yellowCards  yellowReds  redCards
refNum playerShort
140    bodipo                      3      1            0           0         2
367    antonio-lopez_2             1      0            2           0         2
432    javi-martinez               7      2            2           0         2
       jonas                       4      1            0           0         2
487    phil-jagielka               4      1            0           0         2
586    cyril-jeunechamp            6      0            6           0         2
804    sergio-ramos                5      4            6           1         2
985    aly-cissokho                3      1            1           0         2
1114   eugen-polanski              4      0            0           0         2
1214   emmanuel-adebayor           7     10            4           1         2
1349   jose-nunes                  2      0            0           0         2
1696   marc-planus                 3      0            1           0         2
1886   de-lucas                    4      0            1           0         2
1931   fallou-diagne               3      0            0           0         2
2080   laurent-koscielny           7      1            4           0         2
2246   saber-khelifa               3      0            0           0         2
2370   ivo-ilicevic                2      0            1           0         2
2796   fabien-audard               3      0            0           0         2
2803   cristiano-ronaldo           4      9            4           0         2
2822   gary-cahill                 2      0            0           0         2
       lee-cattermole              1      0            1           0         2
2961   cyril-jeunechamp            3      0            3           0         2
       mouhamadou-dabo             1      0            0           0         2
3099   rafael-van-der-vaart        6      3            4           0         2